<div class="item">
    <a target="_blank" href="<%- item.url %>">
        <div class="nav_logo">
            <% if (item.logo) { %>
                <img data-original="<%- item.logo.url %>" width="100%" class="loaded" src="<%- item.logo.url %>">
            <% } %>
            <%= item.name %>
        </div>
        <div class="desc" title="<%- item.desc %>"> <%= item.desc %></div>
    </a>    
</div>



