<dl class="col-2"><img src="<%- item.img %>" alt=""></dl>
<dl class="col-10">
  <dt><h2><%= item.name %></h2></dt>
  <dd title="<%- item.desc %>"><%= item.desc %></dd>
  <dd class="down_btn">
    <span class="left">下载密码:　<%= item.pwd %></span>
    <a target="_blank" href="<%- item.url %>" class="right">
      <i class="icon fa fa-book"></i>
      下载试读
    </a>
    <div class="clear"></div>
  </dd>
</dl>
