<% var item = site.data.technologies[tech] %>
<dl class="technology">
    <dt>
        <img src="/assets/images/<%-item.img%>">
    </dt>
    <dd>
        <p><%= item.name %></p>
        <div class="notes">
            <a href="/tech/<%-tech%>/notes.html">教学讲义</a>
        </div>
        <div class="row">
            <div class="col-4 change_blue">
                <a href="/tech/<%-tech%>/case.html"><%=item.case%>
                    <br>案例</a>
            </div>
            <div class="col-4">
                <a href="##"><%=item.knowledge%>
                    <br>核心知识</a>
            </div>
            <div class="col-4">
                <a href="##"><%=item.post%>
                    <br>文章</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 plan">
                <a href="#">教学计划</a>
            </div>
            <div class="col-6">
                <a href="/tech/<%-tech%>/relative.html">相关资料</a>
            </div>

        </div>
    </dd>
</dl>